* {
  margin: 0;
  padding: 0;
}


h1,h3,a{
font-family: 'Oswald', sans-serif;
}

nav {
  background-color: #FDF6C3;
  padding: 10px;
}

nav p {
 font-family: sans-serif;
 text-align: center;
}

header {
  display: grid;

  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.profile,
.readme{
  background-color: #FDF6C3;
  border: 1px solid #FCF19C;
  padding: 1rem;
  border-radius: 1rem;
}

.profile {

}

.readme {

}

img {
  border-radius: 0.5rem;
}
a {
  background-color: #FDF6C3;
  border: 1px solid #FCF19C;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}
