* {
  margin: 0;
  padding: 0;
}


h1,h3,a{
font-family: 'Oswald', sans-serif;
}

nav {
  background-color: #FDF6C3;
  padding: 10px;
}

nav p {
 font-family: sans-serif;
 text-align: center;
}

header {
  display: grid;

  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.profile,
.readme{
  background-color: #FDF6C3;
  border: 1px solid #FCF19C;
  padding: 1rem;
  border-radius: 1rem;
}

.profile {

}

.readme {

}

img {
  border-radius: 0.5rem;
}
a {
  background-color: #FDF6C3;
  border: 1px solid #FCF19C;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}


.Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;

}
.Popup.active {
  
}


.Popup-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.Popup-header .title{
  font-size:  1.25rem;
  font-weight: bold;
}
.Popup-header  .close{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

Popup-body {
  padding: 10px 15px;
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay-events{
  opacity: 1;
  pointer-events: all;

}
